/*universal selectors*/

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    width: 100%;
    margin: auto;
    
}
.thick {
    height: .5rem;
    background-color: black;
    margin-top:.25rem;
    width: 100%;
}
.thin {
    height: .25rem;
    background-color: black;
    margin-top: .25rem;
}


.form {
    width: 100%;
    
    
}
form {
    width: 90%;
    margin: 0 auto;
    display: block;
    
}

.top-form {
    padding-bottom: .5rem;
}
h1 {
    border: solid;
    padding: 10px;
    background-color:rgb(18, 49, 49);
    margin-bottom: 2rem;
    color: floralwhite;
    text-align: center;
    
}
h2 {
    padding: 10px 0;
    font-size: 24px;
}
header {
    
    padding-bottom: 0;
}
p {
    margin-bottom: 1rem;
}
.contact {
    
    padding-top: 2rem;
    margin-top: .5rem;
}

/*-----------form----------*/
#name, #email, #phone, #address, #city, #state, #zip {
    width: 100%;
    height: 2rem;
    background-color:rgb(240, 232, 232);
    border: 0;
    border-radius: .3em;
    margin-bottom: 1em;
    
}

.newsletter input {
    margin-bottom: 1em;
}

.news {
    margin-top: 1em;
}

#zip {
    width: 50%;
    padding-bottom: 2rem;
}


input[placeholder] {
    text-align: right;
}
input[type="submit"] {
    width: 100%;
    height: 3rem;
    vertical-align: middle;
    border-radius: .3em;
    background-color: rgb(29, 193, 193);
    border: none;
    margin-top: 2rem;
}
input[value] {
    font-size: medium;
    font-weight: bold;
    color:floralwhite;
}




#other {
    max-width: 100%;
    background-color:rgb(238, 231, 231);
    border-radius: .3em;
}


.form {
    margin-bottom: 2rem;
    text-align: left;
}

@media screen and (min-width: 768px) {

    body{
        width: 100%;
    }
    header {
        width: 100%;
        margin: auto;
    }
    form {
        width: 50%;
    }
        
    .top-form {
        width: 100%;
        display: inline-block;
    }
    textarea {
        width: 100%;
    }
   
       
    
   
    


}
